<!-- {{{userProfile}}} -->
<!-- this is the User Profile page -->

<div>
    <br>
    <br>
    
    <div class="uk-card uk-card-secondary uk-card-body custom-card-class">
        <h1><!-- Insert User's Name Here--> {{{user.name}}} 's Profile</h1>
        <h3 class="h4"> 
            <em>Your Stats</em>
        </h3>

        <h3 class="h4"> 
            Height: {{{weight.height}}}
        </h3>

        <h3 class="h4"> 
            Weight: {{{weight.weight}}}
        </h3>

        <h3 class="h4"> 
            Age: {{{weight.age}}}
        </h3>


        <h3 class="h4"> 
            Target Weight: {{{goal.target_weight}}}
        </h3>

        <h3 class="h4"> 
            Body Type: {{{goal.current_body_type}}}
        </h3>
        
        <h3 class="h4"> 
            Goal Body Type: {{{goal.ideal_body_type}}}
        </h3>

    </div>
</div>
</div>